* {
    font-family: monospace;
    background-color: rgb(226, 246, 250);
}

a {
    color: black;
    text-decoration: underline;
}

h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}